[2020-04-26 06:37] harrhel opened #2 "data missing in app/web while using mqtt"
Hi,

recently I started to use the mqtt feature; I observed afterwards that the data during the time of my experiments is not available in the enervu app/web - a zero line in that period.

I assume that using the mqtt integration the data is no longer transmitted to the outside (or maybe not even stored on the device anymore?).

Ideally I would be interested in having both - the data in app/web pl

[2020-04-26 07:01] gluap commented on #2
Oh, this didn't happen on my side while testing. I see glitches in the app (losing connection frequently) but the app was crashing a lot on my phone already before I wrote the python wrapper history data on the app works on my side. I never saw related issues with the webapp. Since i'm using the same interface as the smartphone this definitely shouldn't interfere with the enervu web page.

Are you

[2020-04-26 09:01] thetimmyventura commented on #2
hi!

I observed similar issues.
When the python script was running, there was data missing in the webapp as well as in the app.
Nevertheless the outage values between web page and app differ slightly.

Right after stopping the script, the data was updated, which resulted in high peaks (up to 25kw/p).
So, I guess LG is updating the statistics to the absolute values, when connection is back.

<img w

[2020-04-26 11:17] gluap commented on #2
@thetimmyventura @harrhel which model/firmware version of ESS are you two using?

I'm using the following version: ("system information" in the mobile app, best not post the registration number as it is the default password for the admin mode according to documentation)
*Model: *D0005KD1N111
*firmware version info:*
PMS SW Version: 10.05.6053 / 22.02.2019 R1340
PCS SW Version: LG P1 02.00.02.00 R1

[2020-04-26 11:30] thetimmyventura commented on #2
I have exactly the same model and version like you.

gluap <notifications@github.com> schrieb am So., 26. Apr. 2020, 13:17:

[2020-04-26 12:13] gluap commented on #2
@thetimmyventura One more thing: Is your ESS connected via WIFI or via network cable?

I agree with your suggestion that it seems that the website is not receiving data for some time and as a result then calculates a very high power when the daily charge values are finally uploaded. This seems to point to the ESS web server being too busy serving essmqtt and not uploading to enervu because of it -

[2020-04-26 19:20] harrhel commented on #2
@gluap

my model is  D008KE1N211
PMS SW  10.05.7065 / 07.04.2020 R756
PCS SW  LG P2 02.00.01.00 R49 1.45.3
BMS SW  BMS 01.07.00.01 / DCDC 7K.4.8

I am using the Android App

the device is connected via cable to a switch that connects to the internet router.

I'll try with some different intervalls

[2020-04-26 20:25] harrhel commented on #2
I tried now with 45, 54 and 59 seconds; still observing the issue of no data in the web - hoping this recovers

the intervals conflict a bit at least with the app in parallel

[2020-04-29 08:02] gluap commented on #2
Conflicts with the app are unavoidable as far as I can tell because the ess is only expecting one user. I would bet that the enervu app running on several phones at the same time will also cause interference between the two phones.

I can now reproduce the issue with reports on the enervu web page. As far as I can tell the cumulative values on the web are correct at the end of the day, but the rea

[2020-04-29 08:11] thetimmyventura commented on #2
I do not see conflicts running the app on several phones at the same time.

So, I think there must be a difference between running the script or
running two phones.

Am Mi., 29. Apr. 2020 um 10:03 Uhr schrieb gluap <notifications@github.com>:

[2020-04-29 08:41] cbartetzko commented on #2
I've seen the same issues with instable App-Access and strange Results from Enervu-Website.
So I've decided not to use anymore App+Web from LG.

I'm currently working on an independant docker solution with Telegraf/InfluxDB/Grafana
(based on pyess-esscli) running on my Synology NAS (could also run on Raspi), which exports
all current datapoints into an InfluxDB via cronjob every 10 seconds.
Additi

[2020-04-29 18:02] #2 closed

[2020-04-29 18:15] gluap commented on #2
@cbartetzko @harrhel @thetimmyventura
I'm quite sure I found the issue. When connecting, the phone sends the current time in UTC to the ess to update its internal clock (don't ask me why ess doesn't just connect to a time server), pyess mimics this behaviour (because if I can avoid it I want to not have to use the app).

The machine I was developing on initially was using GMT for its time zone, fo

[2020-04-30 05:58] cbartetzko commented on #2
Wonderful.
I'm just a bit confused with the release numbers.
In your last comment you announced 0.1.2
Then 1.1.2 was launched
Attached to 1.1.2 are files for 0.1.2 and 1.1.2
Which ones are now to be used ?

[2020-04-30 06:46] gluap commented on #2
@cbartetzko thank you for pointing it out, I made a typo when creating the tag on GitHub, it was meant to be numbered 0.1.2 all all along. I fixed it by removing the misnumbered release tag -- the tag name was the only location where I mistyped the version number.

If you installed the version attached to the misnamed 1.1.2 no harm is done, it will even continue to be upgradable from pypi since it

[2020-04-30 15:17] thetimmyventura commented on #2
I tested it now for a few hours. Works now like a charm!
Thx for your quick response and bugfixing.

gluap <notifications@github.com> schrieb am Do., 30. Apr. 2020, 08:47:

[2020-05-01 09:25] harrhel commented on #2
great - thanks for resolving

[2020-05-02 07:41] fu-zhou opened #3 "Run pyess as daemon/service under Linux, comments"
I got my system up and running now, essmqtt is awesome, thanks for all the effort put in so far!
I have a couple of requests/ comments meanwhile:
- [ ] 1.) can essmqtt or esscli be run as service/daemon during startup under Linux? Currently I have to open a terminal, start the command and keep the terminal open. I tried a couple of entries in "etc/systemd/system" based on generic instructions from

[2020-05-02 15:01] gluap commented on #3
Hi,
1). It seems that you have the script installed in your user home folder. Likely your environment variables differ between what is seen by a script when run from terminal and when run as a service. For this reason the system python does not realize that there are additional modules installed in your user home. To run it as a service I think the clean method would be doing the following: set up

[2020-05-02 19:20] fu-zhou commented on #3
Thanks for the quick reply. I will try 1) as described by you. On 2) I have no clue about the protocol's details. What I see in iobroker's MQTT server adapter is: "List of connected clients: mosqsub|89309-iobroker-" when I run mosquitto_sub in parallel to essmqtt. If you give me a starting point, I'm more than happy to figure the details out, despite my limitiations when it comes to reverse engine

[2020-05-05 20:06] fu-zhou commented on #3
Murphy's law at its best: I don't get it to run as service, I give up for now..

[2020-05-05 21:03] fu-zhou commented on #3
In Ubuntu 18.04 Server I got essmqtt to run as service like:
[code]
Problem: the service does not run after startup/ reboot, it needs to be started with:
`systemctl start essmqtt.service`

Having enabled the service (`systemctl enable essmqtt.service`), `systemctl status essmqtt.service` shows after startup:

[code]
Manual start as descibed above works. Can it have something to do with permissions

[2020-05-06 16:08] gluap commented on #3
Hi @fu-zhou this looks promising, earlier on your logs showed that the module wasn't even found. The error now seems to be that the service cannot connect. Is the current log from a start at boot?

I'm asking because I had the same problem once with a systemd service that was starting before network was started. But if you're manually starting it via ``systemctl start`` the above shouldn't happen.

[2020-05-06 16:55] fu-zhou commented on #3
The log comes right from after having booted. I also tried to wait for the network, sleep time etc. in the service file. The service would run only having it started manually, not automatically during start up. I didn't dig deeper yet though...

[2020-05-06 17:59] gluap commented on #3
@fu-zhou great to see that you solved it. Actually I ran it against my mqtt server so it was working with systemd on my machine. I'll see that I add an optional reconnect loop. Also makes sense in case the mqtt server has to be restarted, we don't want to crash in that case, either.

[2020-05-06 18:35] fu-zhou commented on #3
Actually I didn't get it resolved yet... I still miss the piece to have the essmqtt.service wait for io.mqtt.0 to be started. Reconnect loop sounds good!

[2020-05-06 19:16] gluap commented on #3
@fu-zhou the easiest will be to just make systemd restart your service when it fails, something along these lines:
[code]

[2020-05-06 19:31] gluap opened #4 "Register last will and testament for essmqtt"
@fu-zhou requets in #3 to have essmqtt register as a client with the mqtt server. I believe the way to do so would be to set a last will and testament. Currently the mqtt library used does not allow to do this, but I am splitting off this feature request to keep it in mind.

[2020-05-06 19:33] gluap commented on #3
I split off the "register as an mqtt client" point from the original issue into a separate issue - it is currently hard to implement because the mqtt library used for pyess does not support a "last will and testament" and as far as I could find out that is required to provide this functionality.

[2020-05-06 19:41] gluap opened #5 "Improve documentation on statuses"
@fu-zhou brought this up in #3: currently there is no knowledge what the statues mean:
E.g. when ``pcs_status=3``, what does the 3 stand for? That also applies to e.g. ``mqtt.0.ess.common.BATT.status`` and the like. The values come out of the API but we don't know what they mean. Find out and add it to the documentation. A way to approach the issue would be to compare app readings when the status

[2020-05-06 19:59] fu-zhou commented on #3
Thanks for the hint:
[code]

[2020-05-06 20:05] fu-zhou commented on #3
Awesome, the service works now after boot-up with
[code]

[2020-05-06 20:09] fu-zhou commented on #5
mqtt.0.ess.common.BATT.status:
0=stand by
1=charging
2=discharging

[2020-05-06 20:28] gluap commented on #3
Okay, I will close this issue then. Thank you @fu-zhou for your commend and cooperation in fixing this, I will add your systmd service configuration example to the documentation later on. I will think about adding an internal auto-reconnect but for the time being i think it is fine to have it handled by systemd, maybe even better than "hiding" it behind an internal retry.

[2020-05-06 20:28] #3 closed

[2020-05-07 21:34] fu-zhou opened #6 "Communication with high PCS CPU Load"
It seems that on my system (with a high alternating load during the day) the PCS has a lot to do managing the energy flow: charge battery, discharge, get from grid, feed to grid etc. The poll time of 10 seconds regularly leads to very low, unrealistic values for the load or power from the PV modules. Increasing the time to 20 seconds improves the stability of the transmitted values, but with a hig

[2020-05-08 06:07] gluap commented on #6
Hi @fu-zhou, are you using graphite as well as the mqtt connection? Im asking because graphite connection uses same fast polling interval.

Is the issue especially visible around noon? My observation is that the current from the modules becomes more variable when the battery is full and ess is operating either close to maximum ac load or close to the feed-in limit.

Finally even without pyess runn

[2020-05-08 06:33] fu-zhou commented on #6
Hi @gluap: I'm running MQTT only. Yesterday the issue was around noon when the battery was full and the load partially exceeded the PV power. Similar situation in the afternoon with the dish washer and dryer on which, means I can also follow your observation: full battery, high load, high power from the roof (which points me at a high CPU load, as well).
With 10 seconds poll time the spikes look l

[2020-05-09 06:23] fu-zhou commented on #6
The local Enervu-App shows the values more or less in real time and even there the load jumps to 0.0 for a really short moment once in a while. But displaying the values and storing them in the cloud are two different stories as it seems. Does turning off the internet connection help? I'll give it a try....

[2020-05-10 18:11] gluap commented on #6
@fu-zhou I've been thinking about this - I think the CPU load may not be the reason of the spikes after all. First of all there are three different version numbers displayed in the "System information" of the app. These seem to be the controllers for different parts of the system. I would guess that the ESS has separate controllers, dealing with the power distribution (this has to be near realtime

[2020-05-10 20:51] fu-zhou commented on #6
@gluap : I got the test version installed, but the divisor doesn't work. essmqtt understands `--common_divisor=6`, but the server still updates the common values every 10 seconds.

I compared the "common" and the "home" section and found the following redundancies:
[code]
In terms of updates and accuracy/ reliability the most important value for me is the grid power incl. correct positive or negat

[2020-05-10 21:04] gluap commented on #6
I found my mistake -- I added the argument and also implemented the functionality but failed to carry the value from the command line through the function. Here's another zipped wheel that should work now.

[pyess-0.1.4b1-py3-none-any.whl.zip](https://github.com/gluap/pyess/files/4606744/pyess-0.1.4b1-py3-none-any.whl.zip)

[2020-05-10 22:37] fu-zhou commented on #6
Okay, the common_divisor works now and I'm crazy enough to try 5 seconds for home and 60 seconds for common with a divisor of 12.

I fully agree that it makes more sense to retrieve the home values in a faster cycle than the common values for the already mentioned reasons.

Regarding the spikes in the redundant values of home and common:

- I refrained from recording the redundant values in home,

[2020-05-11 09:27] fu-zhou commented on #6
Hi @gluap,
while on a short break now, two observations looking at the curves from last night (limited to the resolution of 5 resp. 60 seconds):
1.
- Load Power (pink) jumps from +440 W to +531 W
- Grid Power (orange) jumps from +70 W to +831 W (=buying from grid - while I don't understand the leap by 760 W with the load leaping by 90 W only)
- Battery (brown) reacts with a jump from +376 W to +12

[2020-05-11 20:30] fu-zhou commented on #6
Delaying "mqtt.0.ess.home.direction.is_grid_selling_" by 10 seconds seems to work well. "is_grid_selling" needs to be "1" for at least 10 seconds before I multiply "mqtt.0.ess.home.statistics.grid_power" with "-1". With this I got rid of the "is_grid_selling"-spikes in my application which lead to briefly turning on a load ("grid selling" means excess energy which can be used rather than sold for

[2020-05-15 18:56] fu-zhou commented on #6
I turned off "Hochladen von Daten zum Web-Server" and that also seems to help to reduce the spikes. I currently run "home" and "common" at 2 seconds to try a couple of things...

[2020-05-18 21:07] fu-zhou commented on #6
I have the system running now for a couple of days in 2 seconds poll cycles for both "home" and "common" which works well. The PV-spikes are filtered out the way I display the data now - they are still in the database, but I don't have to see them...

One reason for the spikes could be that they are there in reality, not caused by the lag of communication, but because the MPP trackers are testing

[2020-05-19 12:06] gluap commented on #6
@fu-zhou Thank you for your extensive reports. I've been following closely what you reported and your findings shed some light on the possible cause of the spikes.

I agree with your finding - The striking regularity of the spikes that becomes visible with 2 second tracking resolution seems to point towards some scheduled source. Maximum Power Point Tracking would be a likely candidate. Also if CP

[2020-05-19 12:38] #6 closed

[2020-05-24 15:03] fu-zhou opened #7 "essmqtt stops updating values after 38 hours of runtime"
I'm still running essmqtt at a 2 seconds update cycle for both "common" and "home". 3rd day in a row essmqtt stops updating the values after 38 hours of runtime (1 day, 14 hours). The MQTT server keeps on running as far as I can tell and restarting the server doesn't fix the problem. The service needs to be restarted (`systemctl restart essmqtt.service`). Immediatley after restarting the values ar

[2020-05-24 17:03] fu-zhou commented on #7
As a quick and dirty fix I'll give it a try to start the service every 24 hours with:
...
[Service]
ExecStart=/home/user/essmqtt/bin/essmqtt --mqtt_server 192.168.0....
# Restart=on-failure
# RestartSec=10
Restart=always
RestartSec=2
RuntimeMaxSec=86400
...

[2020-05-24 17:46] gluap commented on #7
I'm trying to reproduce this - with 38 hours until it crashes it sounds like it will be hard to debug. Could you check whether on your system the memory footprint of essmqtt grows -- e.g. compare memory use right after starting the service to memory use after a few hours?

[2020-05-24 19:55] fu-zhou commented on #7
Alright, I took the automatic restart out again and restarted the service taking a screenshot of `htop` right after the start. Let's see how it develops...

[2020-05-25 20:02] fu-zhou commented on #7
24 hours are over now and I have just checked the status of the service:
[code]
All of a sudden the system doesn't like
[code]
any more, but the communication keeps on working and the only change in `htop` so far is that "VIRT" went up from 308M to 309M - neglectable in my opinion. Let's see what happens in 14 hours ...

[2020-05-26 11:42] fu-zhou commented on #7
Service started: Sun 2020-05-24 21:50:39
Communication stopped: Tue 2020-05-26 12:04:33
 According to the status, the service ist still running
[code]
htop right after the start of the essmqtt service:
![Bildschirmfoto vom 2020-05-24 21-51-41](https://user-images.githubusercontent.com/11984960/82896430-38f7f700-9f56-11ea-9e47-f446d6c87056.png)

htop after I figured ou that the communication stoppe

[2020-05-26 19:34] gluap commented on #7
Thank you for testing that @fu-zhou . These screenshots look like there can't be any significant memory leak involved. I'm trying to reproduce the issue with my ess already, but so far essmqtt is running smoothly (I started it on may 24th 19:40 pm, so it's already running more than 38 hours). But I used the default 10 seconds poll rate, I'll increase it to your two seconds and see whether that bre

[2020-05-29 19:35] fu-zhou commented on #7
with the automatic restart after 24 hours it seems to work so far... I'll keep an eye on it!

[2020-05-29 20:13] gluap commented on #7
@fu-zhou good to hear you have a workaround for the time being.

I managed to reproduce the hanging process on my system and will now try to fix the problem. I managed to debug into the process but in crashed state I don't find obvious clues why it crashed. Fixing will take some time because it takes a while to crash it.  Feel free to poke me every few weeks.

[2020-05-30 17:11] fu-zhou opened #8 "V1.7: Error messages in Service status"
I installed V1.7, MQTT communication with the server works however the following error messages are shown in `systemctl status essmqtt`:
[code]
everytime I look into the status, the errors have the current time stamp, i.e. it seems as if the errors occur continously.
From what I understood the config file is optional, I can still work with the command line, right?

[2020-05-30 17:19] gluap commented on #8
@fu-zhou yes you can still work with the command line!
Actually I guess this is not even a new issue - It is one of the locations where I added extra logging in order to find out whether they cause #7.

I'll look into it, pretty sure it can be fixed quickly.

[2020-05-30 17:23] fu-zhou commented on #8
Ah, okay, the additional logging then idientified the two issues:
TypeError: string indices must be integers
ERROR:pyess.essmqtt:exception while sending to mqtt

[2020-05-30 18:01] gluap commented on #8
@fu-zhou yes, the full multiline message is the result of the same TypeError - the logging I added displays all the lines together. I was hoping to find the cause for the hangups this way, by also displaying the stacktrace. The issue debugging is that with asyncio it easily happens that one does not notice that an exception happens somewhere unless it is caught explicitly. My guess was that the mq

[2020-05-30 20:00] fu-zhou commented on #8
Got v1.8 installed - runs smooth, no error messages!
I run the Enervu App v1.2.4, got the LG ESS Home 8 System with 9.8 kWh battery and all 3 strings attached. For home and common Home 8 and 3 strings should set the communication frame.

[2020-05-30 20:43] gluap commented on #8
The meaning of this sentence is unclear to me:

My guess is you're summarizing what system the original issue occured for right? I'm asking because the "should" might also refer to what pyess should do but doesn't, indicating some persisting issue.

[2020-05-30 21:50] fu-zhou commented on #8
You mentioned that _The error you describe above does not happen on my ess, likely because the structure of /home/ and /common/ daata sources differs between our ESSes._
What I meant to say is that the contents of the common and home section "should" depend on the system one has and how many strings are connected. I.e. if your system and my system has the same configuration, there shouldn't be any

[2020-06-01 12:03] gluap commented on #8
I fully agree, it should depend on the system :) Very good, sorry I didn't get it on the first try. Thank you for the clarification, closing this issue now.

[2020-06-01 12:03] #8 closed

[2020-06-01 20:57] fu-zhou commented on #7
Just updated to 0.1.10 more or less right before I reached 38 hours with 0.1.8 (1 day 12 hours). I meanwhile changed the poll timing to 2 sec (home) and 10 sec (common, divisor=5) as the common values go into the database only for statistics purposes while I try to do somewhat real time calculations and predictions with the home values. On top I got a strange error message from the PCS (once only

[2020-06-03 15:28] gluap commented on #7
I'm running with a two second interval more than 38 hours now and pyess still submits values. I'll keep checking it but the most recent submit might have fixed the issue.

Unfortunately I also don't know what what SDSP is, the manual is indeed not helpful. I'll report if I observe the same issue. In theory my ess should be pretty occupied, essmqtt is polling it every 2 seconds and on top of that i

[2020-06-03 21:13] fu-zhou commented on #7
I got a firmware update pushed on my PCS today, so I turned the timing back to 2 and 2 seconds in order to see if anything changed regarding the values in home and common.

[2020-06-06 09:53] gluap commented on #7
@fu-zhou Thank you for mentioning the firmware upgrade, there was one available for the HOME5 version I use as well. I applied it. Strangely for my HOME5 ess ``ess/common/GRID/active_power`` is still showing power direction via the sign. So there seems to be a discrepancy in behaviour between the 8/10 and 5 ESS models. For reference these are my new version numbers (screenshot from firmware upgrad

[2020-06-06 11:07] fu-zhou commented on #7
Hi @gluap: your SW versions are totally different from the ones on the ESS 8, it seems that there is a major difference in the two systems, however pyess works on both and that is important! One of the differences seems to be that YOU can pick and choose the firmware while on my ESS 8 I have no options or choices, the firmware got pushed onto the system without notification and without documentati

[2020-06-06 11:34] gluap commented on #7
@fu-zhou Getting new firmware pushed forcefully is really bad style. But if it's any consolation: I can't pick and choose either- I found only one new version of the firmware available that could be applied. No older firmware version to go back to and until end of April no firmware updates at all. Also I found no changelog to judge whether the update will be worthwhile or not. The process of upgra

[2020-06-07 08:27] fu-zhou commented on #7
To be honest: I eagerly waited for the firmware as it was supposed to fix a couple of unwanted behaviours, which it didn't, it introduced new ones. To be really sure regarding the internet connection, I typically block the PCS in my FritzBox.

[2020-06-07 12:16] fu-zhou commented on #7
Just before I reached 38 hours the service was restarted. Do you know if there is a logfile stored somewhere which contains details what caused the restart? Do you recommend that I take out the restart option from the service in order to get details why the service fails from time to time?

[2020-06-07 12:38] gluap commented on #7
The log is printed out to the console, so it should end up in the systemd logs. Systemd logs from essmqtt can be accessed via ``journalctl -a|grep essmqtt``. On my system I can still see the logs from a few days ago in there.

Unfortunately I can't leave my ess running for 38 hours at the moment because it enters the restart loop as soon as the battery is full. At that point I have to disable the

[2020-06-07 14:49] fu-zhou commented on #7
Man, their quality control sucks! Here's the relevant extract:
[code]
Can you read anything from that? This sequence shows up multiple times over the last days, I have attached an ASCII file generated with `journalctl -a|grep essmqtt > essmqtt.service.log`
[essmqtt.service.log](https://github.com/gluap/pyess/files/4742263/essmqtt.service.log)

[2020-06-07 18:59] gluap commented on #7
In your longer log I see two different errors - One is the one that you also pasted above, the other seems to indicate that some time around 0:47 or so the mqtt server was down. I have changed the error handling such that whenever mqtt is down the whole communication is re-initiated. It should now be able to deal with both errors.

Nevertheless I'm not sure whether it wouldn't strictly be more cor

[2020-06-07 21:12] fu-zhou commented on #7
The MQTT Server can be down for a couple of minutes once per day as a system backup is starting at 02:00 AM in the morning, but not 0:47, that was probably indeed a system fault or network error and the essmqtt service did the right thing: it restarted and the communication didn't stop while having the service running (the 38 hours behaviour you fixed).
Anyways I would follow your recommendation r

[2020-06-09 18:36] fu-zhou commented on #7
Small update: essmqtt didn't restart automatically yet, runtime is 1 day and 19 hours, however the communication was re-established after 36 hours and 50 minutes, message-log is attached. To prevent misunderstandings: I posted  the log in case it shows valuable hints for you, not to build a work around ;-)
[19563.log](https://github.com/gluap/pyess/files/4754125/19563.log)

[2020-06-09 19:06] gluap commented on #7
@fu-zhou great, the log indicates that the automatic reconnect added with 0.1.11 works. The code is printing out a stacktrace to keep information on where a problem is happening, but the fix I added on sunday fixes the issue by starting over without crashing, so in this case the stacktrace and especieally the warning messages around it are a good sign: The broken connection detection works now.

T

[2020-06-09 19:06] #7 closed

[2020-07-20 05:09] thomasfoxl opened #10 "switch-tasks not working"
It seems that the switch-tasks are not working. I'm trying to switch on "Fast charging" using

`mosquitto_pub -h localhost -p 1883 -t /ess/control/fastcharge -m True
`

I also tried

[code]

Unfortunately, neither I see any reaction at the PCS/BATT nor the reported status changes.

Has anyone successfully tested the manipulation of settings?

[2020-07-20 19:09] #10 closed

[2020-07-22 19:04] thomasfoxl commented on #5
ess/common/PCS_operation_mode:
0=Economic Mode
1=Fast Charging Mode

Even though _PCS_operation_mode_ doesn't sound like it's belonging to the battery, it's actually used to indicate batterie's charging behavior.

[2020-09-08 18:36] thomasfoxl opened #11 "Support new Battery mode "Weather forecast""
Due to the additional battery setting "weather forecast" calling self.set_batt_settings({"alg_setting": "on"}) doesn't work anymore.

[2020-09-08 19:04] gluap commented on #11
@thomasfoxl unfortunately I didn't get that update yet (I've been hoping for this feature for some time now). As soon as I get it I can look into reverse-engineering it.

For reference:
My ESS is currently at:

**PMS SW Version:** 10.05.6511/08.04.2020 R1603
**PCS SW Version:** LG P1 04.00.02.00 R3779
**BMS SW Version** LGBMS.01.01.01.00

In the past I got the impression that LG is doing rolling u

[2020-09-08 20:11] fu-zhou commented on #11
I got my update this morning (ESS Home 8) and I had to reset the inverter to factory settings in order to access the installer settings in the EnervuApp again. There came always the message that the settings cannot be accessed because another installer is logged in. First I was afraid (,I was petrified ;-)) that this was a wanted (new) behaviour to limit the access to the app only, but after stopp

[2020-09-11 10:50] thomasfoxl commented on #11
The current concept allows to switch fastcharging on or off only. Due to the third available value it's necessary to introduce a new key like "ess/control/charing_mode" = {0, 1, 2}. Right now the function switch_fastcharge causes the system to switch to economic mode no matter if I provide TRUE or FALSE as parameter.

[2020-09-11 11:01] thomasfoxl commented on #11
![image](https://user-images.githubusercontent.com/47105983/92916829-2c78ab00-f42e-11ea-87cd-9caa6eb15ee1.png)

I have the same version only difference is PCS-SW-Version: "LG P2"

<off topic>
Are you experiencing that battery power is fed into the grid too? The battery load during night is about 350W. 50W is fed into the grid, 300W is used to cover my base load even though the reals base load is o

[2020-09-11 12:22] fu-zhou commented on #11
I can tell you a story... I commissioned my system 4 months ago in May and have opened several cases since then - finally ending up with a firmware from November 2019 which I got via email and flashed on the inverter via USB. This "old" firmware was the best (until now) regarding efficiency. It fed power to the grid at night (low amount though) from the battery, but was better than consuming power

[2020-09-28 20:47] thomasfoxl commented on #11
I've added a view lines of code:

- ess.py: new function to set battery mode (economic, fast, weather forecast)
- cli.py: new cmdline-parameter for testing battery mode function
- essmqtt.py: added mqtt support for new function

Unfortunately, I'm new to Git and I didn't manage to bring my local changes to the pull request. I hope I didn't bring a mass into your project so far.

Can you please adv

[2020-09-28 20:48] thomasfoxl commented on #11
[pyess.zip](https://github.com/gluap/pyess/files/5294977/pyess.zip)

[2020-09-28 20:56] gluap commented on #11
@thomasfoxl my guess is you committed locally (on your machine) and your commit shows up in your local repo, but you might have forgotten to "git push" your local changes to upload them to your github. Normally I do the commits via pycharm but the push via command line. As far as I can tell in pycharm the git push action would be found under VCS->GIT->Push (provided you already right-click->Commit

[2020-09-29 06:55] thomasfoxl commented on #11
@gluap, thank's for your quick reply! I took my local clone from the master branch but I guess I should push it to the development branch, right? When I compare my version with the dev-version, I see many differences. Can I try to push directly into the master branch?

[2020-09-29 08:33] gluap commented on #11
@thomasfoxl  feel free to directly push to master. The development branch ist a bit behind and I need to clean it up!

Cheers,
Paul

[2020-09-29 19:00] thomasfoxl commented on #11
@gluap: I thought everything works fine, until I tried to switch to battery mode "2" which causes a data type error since 2 can't be converted to bool. I modified essmqtt.handle_control to accept strings/int as well, but running into other problems. Once I fixed that I may come back to you regarding git check-in...

[2020-10-21 19:55] fu-zhou commented on #11
Today I figured out that a new firmware has been pushed onto my system
![20201021_215016](https://user-images.githubusercontent.com/11984960/96775412-cf3a2700-13e7-11eb-812f-a94c44cba507.jpg)
No obvious changes from what I can tell up to now, just wanted to let you know.

[2020-10-21 20:00] gluap commented on #11
Thank you for reporting this!

side note: I'm kinda jealous, my 5 kW ESS still has the April version. I hope it's not simply lacking the updates because they already stopped updating that hardware generation. I've only had it for a year now. If I don't see an update by January I'll give them a call to see whether there is supposed to be an update.

[2020-10-21 20:19] fu-zhou commented on #11
Well, maybe the 5 kW system was brought on the market thouroughly tested and fully working, so no need to upgrade while the bigger ones like I have one are - or hopefully were - buggy. I was happy with the August version but for whatever (undocumented) reason additional fixes were necessary, That is the worst part: You can not read about the fixes and what work is in progress/ planned for the next

[2020-11-07 08:18] fu-zhou commented on #11
Hi again, I wanted to ask if it's possible yet to change the battery charging mode through mqtt? I figured out that charging depending on the weather forecast may end up in a battery not fully charged while having fed power into the grid these days. So during winter time I'd rather set the charging mode to "fast charge" with a script and turn it back to "battery saving" in the summer time. Next qu

[2020-11-08 16:08] thomasfoxl commented on #11
Hi @fu-zhou, unfortunately, I'm too busy to continue with the code changes and testing. Additionally, I'm a python newbie, so it takes way too long for me to fix the issues I'm facing with the MQTT-version. The command line version is already changing the battery charging status. So if you like, I can provide my version containing bugs...

[2021-03-26 14:40] PanicMan commented on #11
Thanks for your great work!
My ESS is currently at Version 10.05.7092 from 2020-10-12 R1094 and working really good, except of the weather predictive loading... Instead of charging over the noon, it does it from the beginning, when PV is producing and then from 10h feed into the grid... It should do the opposite, first feed in and then charge... My 10kWh Battery is at 10h usually at 90-100% alread

[2021-06-26 18:47] thomasfoxl commented on #11
Hi @PanicMan ,
I already made a feature request at LG-Support because I'd like to control a few things on my own
- when the battery should charge
- if it should charge from PV or from grid (interesting if you have an awattar hourly contract and when prices are below 0)
- when the battery should be used to power the house or the grid (selling to the grid when prices are very high)
- when power shou

[2021-11-18 12:27] alfredkrohmer commented on #11
@thomasfoxl did you, by chance, get any feedback from LG?

[2021-11-18 14:06] thomasfoxl commented on #11
@alfredkrohmer no, unfortunately not.

[2022-02-09 17:23] PanicMan opened #13 "Connection to the ESS seems to be blocked"
Hello,

thanks a lot for this great project, I use it for about an Year and had absolutely no problems with it.
Until yesterday... I had to restart my Fritz!Box and since then pyess has absolutely no communication with the ESS anymore.
I got an update some Days ago:
PCS Ver.: S/W: LG 04.00.01.00 R130 1.126.3
PMS Ver.: S/W: 10.05.7250
The Cloud is showing Data, so the connection is there. I can pin

[2022-02-09 18:28] gluap commented on #13
Unfortunately my ess home 5 seems to be out of service and I don't get any updates for it, if anyone with an ess 5 is getting anything recent i'd be happy to hear about it.

But despite being unable to test that version I have a few Ideas to narrow down your problem.

1.) are you using the auto detection feature or do you have the ess IP manually configured? In case you use the mdns autodetection:

[2022-02-10 08:19] PanicMan commented on #13
Hi, thanks for your answers suggestions, I tried them:
1. Autodetection, but as long I can't ping the IP I don't think it will change anything. Also my LG ESS Android App stopped connecting to it over WLAN.
2. Yes, ping everything else in my home network works w/o problems.
3. I had also tried 4. w/o success (5. is not possible, as everything else rely on that IP), but this finally solved my probl

[2022-03-13 13:27] LosPrivatos commented on #13
Hey guys.
Thanks gluap for this very nice project!!!

Sadly i had the same problems as PanicMan since 10 March´22. I don´t know which version i had before and if they were updated, but now i´m at the same PCS and PMS Versions.

I have modified your code a little bit, so that i write the Data to an MSQL Database with your graphite feature and it worked mostly great, sometimes i have to reconnect ..

[2022-03-13 20:22] fu-zhou commented on #13
I had similar challenges and figured out that once my mobile phone recommended to hibernate or shut down the ESS app, I got rid of all the connection problems. To me it seems that ending the app (when you get the Korean message) doesn't really stop the communication between the app and the ESS resulting in concurrent connection attempts leading to a non wokring app and driver. the "deep standby" o

[2022-03-15 09:53] patsch9 opened #14 "unit of measurement wrong for homeassistant"
Hi,

In essmqtt.py there is a wrong attribute:

    if "enegy" in sensor or "energy" in sensor:  # typo in ess json
        description["**unit_of_measuremnt**"] = "Wh"
        description["icon"] = "mdi:gauge"

please set it to
    if "enegy" in sensor or "energy" in sensor:  # typo in ess json
        description["unit_of_measurem**e**nt"] = "Wh"
        description["icon"] = "mdi:gauge"

Thanks

[2022-03-15 11:44] gluap commented on #14
Hi Patrick,

this should be fixed by the latest changes, thank you for reporting this (and delivering the solution in the issue)!

Cheers,
PAul

[2022-03-15 11:50] patsch9 commented on #14
Great! Thanks for fixing

[2022-03-15 11:50] #14 closed

[2022-09-11 21:04] alaska3586 opened #15 "Cannot connect to ESS"
My ESS is connected to a Fritzbox 7490 with ip address 192.168.178.45.
The pyess package is installed on Ubuntu 18.4 with python 3.8.
The default ip address 192.168.23.1 does  not exist and cannot be ping'ed on my system.

esscli --action list_ess  is able to find my device:
Searching for LG ESS devices on the network
found 1 devices:
 1  DE2201BKRE017808

esscli --action get_password
failed: unab

[2022-09-12 05:42] gluap commented on #15
As the message says: get_password is only known to work on the ess wifi (the one opened by the ess), **not** your home network.

[2022-09-12 09:47] alaska3586 commented on #15
Thanks for your response - understood. However, how do I create a direct connection to ESS. I have only been able to connect from a smartphone via EnerVU app. How to do this under raspian OS or ubuntu OS 18.4, where an EnerVU app is not available?
My ESS is configured via WLAN , no LAN cable.

[2022-09-12 11:03] s-hager commented on #15
You need to enable the ess wifi like shown on the 2 screenshots of the lg enervu app below and then connect to the wifi from a computer that you can run the "esscli --action get_password" command on (Of course you need to change the IP address back from  192.168.178.45 to the default 192.168.23.1). Once you have the password you can then connect to your own wifi again and use pyess from there.
![S

[2022-09-12 11:32] alaska3586 commented on #15
Thanks - will try in the evening.

[2022-09-12 18:51] alaska3586 commented on #15
Thanks for the procecure, with which I could connect and get the ESS password.

Next, I connected via WLAN to my 7490 router and tried to receive data with esscli:
esscli --action get_data --password <received ess_password>
The command failed.

The Wifi is the local WLAN , not the ESS WLAN which is disabled now, the 192.168.23.1 is no longer available.
The ESS Ip-address 192.168.178.45 in my own w

[2022-09-13 06:50] alaska3586 commented on #15
I finallly found a problem within ESS communication setup which is now solved.
The get_data command now smootly delivers data.

Thank you very much for assistance.
The pyess interface is a great solution!

Tzhe issue can be closed.

[2022-09-13 07:05] s-hager commented on #15
👍 Well done. Happy that it works for you now.